<plugin>
	<nom>Gestion des Adh&eacute;rents pour un Club</nom>
	<icon>img_pack/adh_club-64.png</icon>
	<auteur>Jean-Gabriel Remond</auteur>
	<licence>GNU/GLP</licence>
	<version>0.14</version>
	<version_base>0.3.0.2</version_base>
	<etat>dev</etat>

	<description>Gestion des adh&eacute;rents pour un club
_ Chaque adh&eacute;rent est associ&eacute; &aacute; des informations qualifiantes au regard des activit&eacute;es du club telles que :
_ 	- Brevet,
_ 	- Licence de la saison, 
_ 	- Assurance, etc... 
_	- 
_	- Pour cette version, les Saisons, Assurances et Cotisations ne sont pas g&eacute;r&eacute;es en date 
_	- Ce plugin ne gère pas du tout la partie comptable du Club, juste l'information coût pour les cotisations et assurances.</description>

	<prefix>adhclub</prefix>

	<options>adh_club_options.php</options>
	<fonctions>adh_club_fonctions.php</fonctions>
	<fonctions>public/adh_club.php</fonctions>

	<install>base/adhclub_upgrade.php</install><!---->

	<!-- Definitions des fonctions qui s'inserent dans les pipelines -->
	<!-- Declaration des tables -->

	<pipeline><nom>declarer_tables_interfaces</nom>
		<inclure>base/adhclub.php</inclure>
	</pipeline>
	<pipeline><nom>declarer_tables_principales</nom>
		<inclure>base/adhclub.php</inclure>
	</pipeline>
	<pipeline><nom>declarer_tables_auxiliaires</nom>
		<inclure>base/adhclub.php</inclure>
	</pipeline>
	<pipeline>
		<nom>rechercher_liste_des_champs</nom>
		<inclure>public/adh_club.php</inclure>
	</pipeline><!---->


	<!-- Les ajouts du plugin -->
	<pipeline><nom>adhclub_liste_niveaux_autorises</nom>
		<action>liste_niveaux_autorises</action>
		<inclure>inc/adh_niveau.php</inclure>
	</pipeline>

	<pipeline><nom>ajouter_boutons</nom>
		<inclure>adh_club_pipelines.php</inclure>
	</pipeline>
	<pipeline><nom>affiche_milieu</nom>
		<inclure>adh_club_pipelines.php</inclure>
	</pipeline>

	<pipeline><nom>autoriser</nom>
		<inclure>inc/adh_club_autoriser.php</inclure>
	</pipeline><!---->

	<!-- avec plugin champs extras 2 -->
	<pipeline><nom>objets_extensibles</nom>
		<inclure>adh_club_pipelines.php</inclure>
	</pipeline><!----><!--avec plugin inscription3--><pipeline>
	<nom>i3_verifications_specifiques</nom><action>inscription3_i3_verifications_specifiques</action><inclure>inc/adh_import.php</inclure>
	</pipeline><!---->


	<!-- avec plugin bandeau (voir http://programmer.spip.net/Definir-des-boutons) -->
	<!-- bouton id='adh_mainbutton' parent='auteurs'>
	    <icone>img_pack/adh_club-24.gif</icone>
	    <titre>adhclub:adhclub</titre>
	</bouton>  -->
	<bouton id='adh_secondbutton2' parent='bando_reactions'>
		<icone>img_pack/adh_club-24.gif</icone>
		<titre>adhclub:adhclub</titre>
		<url>adh_tous</url>
	</bouton>

	<!-- l'environnement minimum -->
	<necessite id="SPIP" version="[2.1.1;2.1.99]" />
	<necessite id="Inscription3" version="[3.0.15;]" />
	<necessite id="spip_bonux" version="[2.0;]" />
	<necessite id="saisies" version="[1.27.2;]"/>
	<utilise id="bandeau" version="[1.1.10;]"></utilise>
	<utilise id="champs extras2" version="[1.10.1;]"></utilise>
	<utilise id="verifier"></utilise>
	<utilise id="csv_import"></utilise>

	<categorie>auteur</categorie>
</plugin>
